<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="oracle.jdbc" slot="12.1.0.2.0">
	<resources>
		<resource-root path="aspectjrt-1.8.4.jar" />
		<!-- modified oracle jdbc driver : supports kerberos authentication when used in EAP 6 -->
		<resource-root path="ojdbc7-12.1.0.2.0-hacked.jar" />
		<!-- original oracle jdbc driver : does not support kerberos authentication when used in EAP 6
		<resource-root path="ojdbc7-12.1.0.2.0.jar" />
		-->
	</resources>

	<dependencies>
		<module name="javax.api" />
		<module name="javax.transaction.api" />
		<module name="sun.jdk" />
		<system export="true">
			<paths>
				<path name="sun/security/krb5/internal" />
			</paths>
		</system>
	</dependencies>
</module>