# Are WebSphere MQ diagnostics to be used?
# If Diagnostics.MQ is enabled, diagnostic output is as for other WebSphere MQ components;
# trace output is controlled by the parameters in the strmqtrc and endmqtrc control 
# commands, or the equivalent.
#
# Valid values
#             enabled
#             disabled
#
# Default value
#             enabled
Diagnostics.MQ=disabled  

# Which components are traced using Java trace.
#
# Valid values
#             explorer - refers to the diagnostics from the WebSphere MQ Explorer
#             soap - refers to the diagnostics from the running process within WebSphere MQ Transport for SOAP
#             wmqjavaclasses - refers to the diagnostics from the underlying WebSphere MQ Java classes
# Default value
#            no components are traced.
Diagnostics.Java=wmqjavaclasses

# Detail level for Java trace.
# Ignored if Diagnostics.Java is not set.
#
# Valid values
#             high
#             medium
#             low
#
# Default value
#             medium
#
Diagnostics.Java.Trace.Detail=high

# Whether Java trace is written to a file.
# Ignored if Diagnostics.Java is not set.
#  
# Valid values
#             enabled
#             disabled
#
# Default value
#             disabled
Diagnostics.Java.Trace.Destination.File=enabled

# Whether Java trace is written to the system console.
# Ignored if Diagnostics.Java is not set.
#  
# Valid values
#             enabled
#             disabled
#
# Default value
#             disabled
#Diagnostics.Java.Trace.Destination.Console=disabled  

# The directory to which Java trace is written.
# Ignored if Diagnostics.Java is not set or Diagnostics.Java.Trace.Destination.File=disabled. 
#
# Default value
#             /var/mqm/trace 
#
Diagnostics.Java.Trace.Destination.Pathname=§[jees.path]§/log

# The directory to which Java FFDC output is written.
#
# Default value
#             current working directory.
Diagnostics.Java.FFDC.Destination.Pathname=§[jees.path]§/log/MY_FFDC

# The fully qualified file name to which Java error messages are written.
#
# Default value
#             AMQJAVA.LOG in the current working directory.
Diagnostics.Java.Errors.Destination.Filename=§[jees.path]§/log/mqjava.log 
