<volume>
  <name>§[vmName]§-vda</name>
  <source>
    <device path='/dev/HelpDeskRHEL6/LibVirtLvmBase'/>
  </source>
  <capacity unit='bytes'>6442450944</capacity>
  <allocation unit='bytes'>6442450944</allocation>
  <target>
    <path>/dev/LibVirtLvmSP/§[vmName]§-vda</path>
  </target>
</volume>
