<volume>
  <name>§[vmName]§-vda.img</name>
  <source>
  </source>
  <capacity unit='bytes'>8589934592</capacity>
  <allocation unit='bytes'>6018191360</allocation>
  <target>
    <format type='raw'/>
  </target>
</volume>

