<volume>
  <name>§[vmName]§-vda.img</name>
  <source>
  </source>
  <capacity unit='bytes'>5368709120</capacity>
  <allocation unit='bytes'>3792596992</allocation>
  <target>
    <format type='raw'/>
  </target>
</volume>

