######## license / author
# license : GPL
# author : Guillaume Cornet

#####################
### Mandatory Melody plugin configuration directives
#####################

### the class which will load this configuration
plugin.configuration.canonicalclassname=com.wat.melody.plugin.ssh.common.SshPlugInConfiguration


#####################
### GENERAL
#####################

### location of the knownHosts file (relative path are resolved from the current file location)
#ssh.knownhosts=.ssh/known_hosts

### location of the keyPair repository directory (relative path are resolved from the current file location)
#ssh.keypair.repository=.ssh/

### size of the keyPair to create when not found in the keypair repository
#ssh.keypair.size=2048


#####################
### COMPRESSION
#####################

### accepted values are 'zlib' or ',none'. 'none' means no compression and 'zlib' means that zlib will be used to compress.
#ssh.compression.type=zlib
### 0 means 'no compression', 1 means 'best speed' and 6 means 'best compression'.
#ssh.compression.level=6


#####################
### SOCKET CONFIGURATION
#####################

#ssh.conn.socket.connect.timeout=
#ssh.conn.socket.connect.retry=3
#ssh.conn.socket.read.timeout=

### the number of server-alive messages which will be sent without any reply from the server before disconnecting. The default value is 1. 
#ssh.conn.serveralive.countmax=

### the timeout interval in milliseconds before sending a server alive message, if no message is received from the server
#ssh.conn.serveralive.interval=


#####################
### PROXY CONFIGURATION
#####################

### accepted values are : ProxyHTTP, ProxySOCKS4, ProxySOCKS5
#ssh.conn.proxy.type=
#ssh.conn.proxy.host=
#ssh.conn.proxy.port=


#####################
### MANAGEMENT
#####################

### Ssh Management is a feature of the Ssh Plug-In which aim is to simplify connections to target remote systems.
### Using Ssh Plug-In's Ssh Management feature, you can connect to a remote system using Ssh Task or Upload Task with any remote user, without knowing its credentials.
### Its the aim of Ssh Plug-In's Ssh Management feature to deploy the given credentials on the remote system.
###
### Ssh Management needs :
###   - A 'super user account' on each remote system (more formally called the 'ssh management master user'), 
###     which will be used by Ssh Plug-In's Ssh Management feature to connect to the remote system, providing
###     either its password (more formally called the 'ssh management master password'), or its private key 
###     (more formally called the 'ssh management master key').
###     This 'super user account' must be either a root account or a common account which can do 'sudo su -' 
###     without password prompting.

#ssh.management.enable=true

### the ssh management master user
#ssh.management.master.user=root
#ssh.management.master.key=melody_mgmt_kp
#ssh.management.master.pass=changeit!