<?xml version="1.0" encoding="UTF-8"?>

<environment>

	<models>
		<model herit="./environment/models/model[@name='rhel-6']" instance-type="m1.small" name="rhel-6.jdg-6">
			<kvc-server-model name="jdg-6" path="/home/jdgusra/jdg.inst1">
				<owner login="jdgusra"/>
				<listen-on device="eth0" management-device="eth0" port-offset="0">
					<socket name="http" port="8080"/>
					<socket name="https" port="8443"/>
					<socket name="hotrod" port="11222"/>
				</listen-on>
				<memory perm-size="64m" xms="64m" xmx="128m"/>
				<administrators>
					<user login="jdg"/>
					<user login="jdgusra"/>
				</administrators>
				<keystore password="XXXXXXXXXXXX" path="server.ks">
					<key alias="server" password="YYYYYYYYYYY" usage="management"/>
				</keystore>
			</kvc-server-model>

			<jboss-datagrid-engine path="/opt/jboss-datagrid-6.0.0" version="6.0.0">
				<owner login="jdg"/>
			</jboss-datagrid-engine>
			<jboss-datagrid-engine path="/opt/jboss-datagrid-6.0.1" version="6.0.1">
				<owner login="jdg"/>
			</jboss-datagrid-engine>
			<jboss-datagrid-engine path="/opt/jboss-datagrid-6.1.0" version="6.1.0">
				<owner login="jdg"/>
			</jboss-datagrid-engine>
			<jboss-datagrid-engine path="/opt/jboss-datagrid-6.2.0" version="6.2.0">
				<owner login="jdg"/>
			</jboss-datagrid-engine>
			<jboss-datagrid-engine path="/opt/jboss-datagrid-6.2.1" version="6.2.1">
				<owner login="jdg"/>
			</jboss-datagrid-engine>
			<jboss-datagrid-engine path="/opt/jboss-datagrid-6.3.0" version="6.3.0">
				<owner login="jdg"/>
			</jboss-datagrid-engine>

			<credentials>
				<credential group="jdg" homedir="/home/jdg" id="5001" login="jdg" password="XXXXXXXXXX"/>
				<credential group="jdg" homedir="/home/jdgusra" id="5201" login="jdgusra" password="XXXXXXXXXX"/>
				<credential group="jdg" homedir="/home/jdgusrb" id="5202" login="jdgusrb" password="XXXXXXXXXX"/>
				<credential group="jdg" homedir="/home/jdgusrc" id="5203" login="jdgusrc" password="XXXXXXXXXX"/>
				<credential group="jdg" homedir="/home/jdgusrd" id="5203" login="jdgusrd" password="XXXXXXXXXX"/>
				<credential group="jdg" homedir="/home/jdgusre" id="5204" login="jdgusre" password="XXXXXXXXXX"/>
			</credentials>
		</model>
	</models>

</environment>