<?xml version="1.0" encoding="UTF-8"?>

<environment>

	<models>
		<model name="rhel-7.haproxy" herit="./environment/models/model[@name='rhel-7']">
			<web-server name="my-webserver" path="/etc/haproxy" provider="haproxy">
				<owner name="my-owner" login="haproxy"/>
				<log name="my-log" level="debug"/>
				<listen-on name="my-listen" device="eth0" port-offset="0">
					<socket name="http" mode="http" port="80"/>
				</listen-on>
			</web-server>

			<credentials name="my-credentials">
				<!-- haproxy user and group -->
				<user name="haproxy" homedir="/var/lib/haproxy" id="188" password="XXXXXXXX" ref-group-name="haproxy"/>
				<group name="haproxy" id="188"/>
			</credentials>
		</model>
	</models>

</environment>