<?xml version="1.0" encoding="UTF-8"?>

<environment>

	<models>
		<model name="rhel-6.wmq-7.5" herit="./environment/models/model[@name='rhel-6']">
			<mq-server name="my-mqserver" path="/opt/mqm" provider="wmq" version="7.5.0.4">
				<owner name="my-owner" login="mqm"/>
				<listen-on name="my-listen" device="eth0" port-offset="0">
					<socket name="tcp" port="1414"/>
				</listen-on>
			</mq-server>

			<credentials name="my-credentials">
				<!-- wmq user and group -->
				<user name="mqm" homedir="/opt/mqm/" id="498" password="XXXXXXXX" ref-group-name="mqm"/>
				<group name="mqm" id="500"/>
			</credentials>
		</model>
	</models>

</environment>