<?xml version="1.0" encoding="UTF-8"?>

<environment>

	<models>
		<model herit="./environment/models/model[@name='rhel-7']" instance-type="m1.small" name="rhel-7.eap-6">
			<jee-server-model name="eap-6" path="/home/jeeusra/eap.inst1" provider="jboss.eap">
				<owner login="jeeusra"/>
				<listen-on device="eth0" management-device="eth0" port-offset="0">
					<socket name="http" port="8080"/>
					<socket name="ajp" port="8009"/>
					<socket name="https" port="8443"/>
				</listen-on>
				<memory perm-size="64m" xms="64m" xmx="128m"/>
				<administrators>
					<user login="jboss"/>
					<user login="jeeusra"/>
				</administrators>
				<keystore password="XXXXXXXXXXXX" path="server.ks">
					<key alias="server" password="YYYYYYYYYYY" usage="management"/>
				</keystore>
				<jboss-web uses-native-components="true"/>
			</jee-server-model>

			<jboss-eap-engine path="/opt/jboss-eap-6.0.0" provider="jboss.eap" version="6.0.0" herit-policy="append">
				<owner login="jboss"/>
			</jboss-eap-engine>
			<jboss-eap-engine path="/opt/jboss-eap-6.0.1" provider="jboss.eap" version="6.0.1" herit-policy="append">
				<owner login="jboss"/>
			</jboss-eap-engine>
			<jboss-eap-engine path="/opt/jboss-eap-6.1.0" provider="jboss.eap" version="6.1.0" herit-policy="append">
				<owner login="jboss"/>
			</jboss-eap-engine>
			<jboss-eap-engine path="/opt/jboss-eap-6.1.1" provider="jboss.eap" version="6.1.1" herit-policy="append">
				<owner login="jboss"/>
			</jboss-eap-engine>
			<jboss-eap-engine path="/opt/jboss-eap-6.2.0" provider="jboss.eap" version="6.2.0" herit-policy="append">
				<owner login="jboss"/>
			</jboss-eap-engine>
			<jboss-eap-engine path="/opt/jboss-eap-6.2.1" provider="jboss.eap" version="6.2.1" herit-policy="append">
				<owner login="jboss"/>
			</jboss-eap-engine>
			<jboss-eap-engine path="/opt/jboss-eap-6.2.2" provider="jboss.eap" version="6.2.2" herit-policy="append">
				<owner login="jboss"/>
			</jboss-eap-engine>
			<jboss-eap-engine path="/opt/jboss-eap-6.2.3" provider="jboss.eap" version="6.2.3" herit-policy="append">
				<owner login="jboss"/>
			</jboss-eap-engine>
			<jboss-eap-engine path="/opt/jboss-eap-6.2.4" provider="jboss.eap" version="6.2.4" herit-policy="append">
				<owner login="jboss"/>
			</jboss-eap-engine>
			<jboss-eap-engine path="/opt/jboss-eap-6.3.0" provider="jboss.eap" version="6.3.0" herit-policy="append">
				<owner login="jboss"/>
			</jboss-eap-engine>
			<jboss-eap-engine path="/opt/jboss-eap-6.3.1" provider="jboss.eap" version="6.3.1" herit-policy="append">
				<owner login="jboss"/>
			</jboss-eap-engine>
			<jboss-eap-engine path="/opt/jboss-eap-6.3.2" provider="jboss.eap" version="6.3.2" herit-policy="append">
				<owner login="jboss"/>
			</jboss-eap-engine>
			<jboss-eap-engine path="/opt/jboss-eap-6.4.0" provider="jboss.eap" version="6.4.0" herit-policy="append">
				<owner login="jboss"/>
			</jboss-eap-engine>
			<jboss-eap-engine path="/opt/jboss-eap-6.4.1" provider="jboss.eap" version="6.4.1" herit-policy="append">
				<owner login="jboss"/>
			</jboss-eap-engine>
			<jboss-eap-engine path="/opt/jboss-eap-6.4.2" provider="jboss.eap" version="6.4.2" herit-policy="append">
				<owner login="jboss"/>
			</jboss-eap-engine>

			<credentials>
				<credential group="jboss" homedir="/home/jboss" id="5000" login="jboss" password="XXXXXXXXXX" herit-policy="append"/>
				<credential group="jboss" homedir="/home/jeeusra" id="5101" login="jeeusra" password="XXXXXXXXXX" herit-policy="append"/>
				<credential group="jboss" homedir="/home/jeeusrb" id="5102" login="jeeusrb" password="XXXXXXXXXX" herit-policy="append"/>
				<credential group="jboss" homedir="/home/jeeusrc" id="5103" login="jeeusrc" password="XXXXXXXXXX" herit-policy="append"/>
				<credential group="jboss" homedir="/home/jeeusrd" id="5103" login="jeeusrd" password="XXXXXXXXXX" herit-policy="append"/>
				<credential group="jboss" homedir="/home/jeeusre" id="5104" login="jeeusre" password="XXXXXXXXXX" herit-policy="append"/>
			</credentials>
		</model>
	</models>

</environment>