<?xml version="1.0" encoding="UTF-8"?>

<environment>

	<models>
		<model herit="./environment/models/model[@name='rhel-6']" name="rhel-6.httpd">
			<web-server path="/etc/httpd" provider="httpd">
				<owner login="apache"/>
				<log level="debug"/>
				<listen-on device="eth0" port-offset="0">
					<socket name="http" port="80"/>
				</listen-on>
			</web-server>

			<rhn>
				<!-- mandatory child channel for mod_jk -->
				<channel name="jbappplatform-6-x86_64-server-6-rpm" herit-policy="append"/>
			</rhn>

			<credentials>
				<!-- apache httpd user and group -->
				<user homedir="/var/www" id="48" name="apache" password="XXXXXXXXX" ref-group-name="apache" herit-policy="append"/>
				<group id="48" name="apache" herit-policy="append"/>
			</credentials>
		</model>
	</models>

</environment>