<?xml version="1.0" encoding="UTF-8"?>

<environment>

	<models>
		<model name="rhel-6.postgresql" herit="./environment/models/model[@name='rhel-6']">
			<rdb-server name="my-rdbserver" path="/var/lib/pgsql/data" provider="postgresql" version="8.4">
				<owner name="my-owner" login="postgres"/>
				<listen-on name="my-listen" device="eth0" port-offset="0">
					<socket name="tcp" port="5432"/>
				</listen-on>
			</rdb-server>

			<credentials name="my-credentials">
				<!-- postgresql user and group -->
				<user name="postrges" homedir="/var/lib/pgsql/" id="26" password="XXXXXXXX" ref-group-name="postrges"/>
				<group name="postrges" id="26"/>
			</credentials>
		</model>
	</models>

</environment>