<?xml version="1.0" encoding="UTF-8"?>

<environment>

	<models>
		<model instance-type="t1.micro" keypair-name="id_rsa" name="rhel-6" provider="libvirt" region="qemu:///system">
			<network-management activation-protocol="ssh"/>
			<os name="rhel" version="6" arch="x86_64"/>
			<firewall>
				<tcp access="allow" directions="in" from-ips="all" name="ssh-tcp" to-ports="22"/>
			</firewall>
			<disk-devices>
				<disk delete-on-termination="true" device-name="/dev/vda" root-device="true"/>
			</disk-devices>
			<credentials>
				<credential login="root" password="XXXXXXXXXXX"/>
			</credentials>
			<registration profile-name="default" provider="rhn" start-rhnsd="false" upload-hardware-infos="false" upload-packages-infos="false" upload-virtualization-infos="false"/>
			<packages provider="yum">
				<!-- for time synchro -->
				<package name="ntp"/>
				<!-- allow ssh and scp -->
				<package name="openssh-clients"/>
				<!-- allow X11 forwarding -->
				<package name="xorg-x11-xauth"/>
				<package arch="noarch" name="libX11-common"/>
			</packages>
			<services provider="initd">
				<!-- for Melody key pair deployment -->
				<service name="lvcd" state="on"/>
				<!-- for time synchro -->
				<service name="ntpd" state="on"/>
				<!-- firewall is ensured by virtualization layer -->
				<service name="iptables" state="off"/>
			</services>
		</model>
	</models>

</environment>