<?xml version="1.0" encoding="UTF-8"?>

<environment>

	<models>
		<model name="rhel-6.oracle-12" herit="./environment/models/model[@name='rhel-6']" instance-type="m1.small">
			<rdb-server name="my-rdbserver" path="/opt/oracle-12.1.0" provider="oracle" version="12.1.0.2.0">
				<owner name="my-owner" login="oracle"/>
				<listen-on name="my-listen" device="eth0" port-offset="0">
					<socket name="tcp" port="1521"/>
				</listen-on>
			</rdb-server>

			<packages name="my-packages" provider="yum">
				<!-- for oracle 12-->
				<package name="cloog-ppl"/>
				<package name="compat-libcap1"/>
				<package name="compat-libstdc++-33"/>
				<package name="cpp"/>
				<package name="gcc"/>
				<package name="gcc-c++"/>
				<package name="ksh"/>
				<package name="libXxf86dga"/>
				<package name="libXxf86misc"/>
				<package name="libaio-devel"/>
				<package name="libdmx"/>
				<package name="libstdc++-devel"/>
				<package name="mpfr"/>
				<package name="ppl"/>
				<package name="xorg-x11-utils"/>
			</packages>

			<credentials name="my-credentials">
				<!-- oracle user and group -->
				<!-- character '@' is forbidden in oracle user's password -->
				<user name="oprofile" homedir="/home/oprofile" id="16" password="XXXXXXXX" ref-group-name="oprofile"/>
				<user name="oracle" homedir="/home/oracle" id="54321" password="XXXXXXXX" ref-group-name="oinstall">
					<group ref-group-name="dba"/>
				</user>
				<group name="oprofile" id="16"/>
				<group name="oinstall" id="54321"/>
				<group name="dba" id="54322">
					<user ref-user-name="oracle"/>
				</group>
			</credentials>
		</model>
	</models>

</environment>