<?xml version="1.0" encoding="UTF-8"?>

<environment>

	<models>
		<model name="rhel-6.wks" herit="./environment/models/model[@name='rhel-6']" instance-type="m1.small">
		</model>
	</models>

</environment>