<?xml version="1.0" encoding="UTF-8"?>

<environment>

	<models>
		<model herit="./environment/models/model[@name='rhel-6']" instance-type="t1.micro" name="rhs-3">
			<rhn>
				<!-- base channel for RHS 3.0 -->
				<base-channel name="rhel-x86_64-server-6"/>
				<!-- mandatory child channels for RHS 3.0 -->
				<channel name="rhel-x86_64-server-6-rhs-3" herit-policy="append"/>
				<channel name="rhel-x86_64-server-sfs-6" herit-policy="append"/>
			</rhn>
			<services herit-policy="append">
				<!-- start glusterd -->
				<service name="glusterd" state="on"/>
				<service name="nfs" state="on"/>
			</services>
		</model>
	</models>

</environment>