<?xml version="1.0" encoding="UTF-8"?>

<environment>

	<models>
		<model name="rhs-2" herit="./environment/models/model[@name='rhel-6']" instance-type="t1.micro">
			<rhn>
				<!-- base channel for RHS 2.1-->
				<base-channel name="rhel-x86_64-server-6.4.z"/>
				<!-- mandatory child channels for RHS 2.1 -->
				<channel name="rhel-x86_64-server-6-rhs-2.1"/>
				<channel name="rhel-x86_64-server-sfs-6.4.z"/>
			</rhn>
			<services name="my-services" provider="initd">
				<!-- start glusterd -->
				<service name="glusterd" state="on"/>
				<service name="nfs" state="on"/>
			</services>
		</model>
	</models>

</environment>