<?xml version="1.0" encoding="UTF-8"?>

<environment>

	<models>
		<model herit="./environment/models/model[@name='rhel-6']" image-id="RHEL-6-workstation" instance-type="m1.small" name="rhel-6.wks">
		</model>
	</models>

</environment>